cachetools
cairocffi
CairoSVG
certifi
cffi
charset-normalizer
cssselect2
defusedxml
docutils
filetype
google-auth
google-auth-oauthlib
gspread
idna
importlib_metadata
Kivy
Kivy-Garden
kivymd
oauthlib
pillow
pyasn1
pyasn1_modules
pycparser
pygal
Pygments
requests
requests-oauthlib
rsa
tinycss2
urllib3
webencodings
zipp
cryptography
